@model BeastLearn.Domain.Models.User.User

<div style="text-align: center;padding:10px;border:1px solid gray; box-shadow: 0px 10px 5px gray;border-radius: 10px;">
    <h2>@Model.UserName عزیز !</h2>
    <p>جهت بازیابی کلمه عبور خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="http://localhost:63760/Account/ActiveAccount/@Model.ActiveCode" style="font-size: 24px; font-weight: bolder;text-decoration: none;color:green;text-shadow: 5px 5px 10px gray;">بازیابی کلمه عبور</a>
    </p>
</div>