@page "{id}"
@model BeastLearn.Web.Pages.Admin.ManageCourses.IndexEpisodeModel
@{
    ViewData["Title"] = "بخش های دوره";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">لیست بخش های سایت</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                لیست بخش ها
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <div class="container">
                        <a class="btn btn-outline btn-success" asp-page="CreateEpisode" asp-route-id="@ViewData["CourseId"].ToString()">افزودن بخش جدید</a>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 164.667px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending">
                                    عنوان جلسه
                                </th>
                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 164.667px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending">
                                    زمان جلسه
                                </th>
                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 164.667px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending">
                                    رایگان
                                </th>
                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 164.667px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending">
                                    دستورات
                                </th>

                        </thead>

                        <tbody>
                            @foreach (var item in Model.CourseEpisodes)
                            {
                                <tr class="gradeA odd">

                                    <td class=" ">@item.EpisodeTitle</td>
                                    <td class=" "> @item.EpisodeTime</td>
                                    <td class="center ">
                                        @if (item.IsFree)
                                        {
                                            <span class="text-success">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        }
                                    </td>
                                    <td class="center ">
                                        <a href="/Admin/ManageCourses/EditEpisode/@item.EpisodeId" class="btn btn-outline btn-warning btn-sm">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                        <a href="/Admin/ManageCourses/DeleteEpisode/@item.EpisodeId" class="btn btn-outline btn-danger btn-sm">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>



